body{
    font-family: "Jost", sans-serif;
    font-weight: 400;

}
.heroh1{
    font-size: 90px;
    font-weight: bolder;
}
.nav-link{
    color: white !important;
}
.menutwo li{
    list-style-type: none;
    text-align: left;
    font-size: 12px;
}
.hero{
    background-image: url('../images/bg_hero.webp');
    padding-bottom: 300px;
}
.btn-primary-gradient{
    border: 0px;
    display: inline-block;
    padding: 16px 32px;
    color: #f0f0f0;
    border-radius: 100px;
    position: relative;
    z-index: 1;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 3px;
}
.btn-primary-gradient::before{
    content: '';
    background-color: #161a20;
    border-radius: 100px;
    position: absolute;
    z-index: -2;
    top: 0px;
    bottom:0px;
    left: 0px;
    right: 0px;
    background: linear-gradient(to right, #743ad5 0%, #d53a9d 100%);
}
.btn-primary-gradient::after{
    content: '';
    background-color: #161a20;
    border-radius: 100px;
    position: absolute;
    z-index: -1;
    top: 2px;
    bottom:2px;
    left: 2px;
    right: 2px;
    transition: all 0.3s ease-in-out;
}
.btn-primary-gradient:hover
{   z-index: 0;
    box-shadow: none;
    outline: none;
    background: linear-gradient(to right, rgb(116,58,213), #da1899);
    
}
    
.section1{
    background-color: black;
    padding: 100px 0px 100px 0px;
}
.section1 h6{
    text-transform: uppercase;
    font-weight: 700;
}
.section1 h1{
    font-weight: 900;
    font-size: 70px;
}
.section2{
    padding: 100px 0px 100px 0px;
}
.subheading{
    font-size: 11px;
    letter-spacing: 2px;
    font-weight: 700;
}
.heading{
    font-size: 80px;
    line-height: 1;
    font-weight: 900;
}
.feature{
    padding: 30px;
    margin-bottom: 50px;
    position: relative;
    top: 10px;
    
}
.section2{
    background-color: #efefef;
    height: 1250px;
}
.section2 i{
    font-size: 40px;
    color: #743ad5;
    margin-bottom: 20px;
}
._0posi2{
    margin-top: -70px;
  }
.section2 h4{
    font-size: 18px;
    font-weight: 900;
}
.section2 p{
    font-size: 15px;
    line-height: 1.7;
}
.section2 ._0col:hover{
    background: linear-gradient(to right, rgb(116,58,213), rgb(229,176,211));
    border-radius: 15px;
    color: white;
}
.section3{
    background-color: #000;
    position: relative;
}
._0posi{
    position: absolute;
    z-index: 1000;
    left: 4%;
}
.pricex{
    font-weight: 900;
    font-size: 40px;
}
.pricing{
    padding: 40px;
    background-color: #743ad5;
    text-align: center;
    border-radius: 7px;
}.pricing h3{
    color: #fff;
    font-size: 30px;
}
.pricing p{
    color: rgba(255,255,255,0.5);
}
.line{
    margin-top: 40px 0px;
    height: 1px;
    width: 100%;
    height: 2px;
    background-color: rgba(255,255,255,0.2);
    
}
.section4{
    background-image: url("../images/bg_hero_2.jpg.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 0px 0px 150px 0px;
    /* height: 100vh; */
}
._0cus{
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: azure;
}
._0bordbtm{
    border-bottom: 1px solid rgb(204,204,204) !important;
    background-color: transparent;
}

._0cus:hover{
    background-color: white;
    color: blue !important;
    transition: .3s;
}
.section6 ._0pad{
    padding: 110px 0px 110px 50px !important;
}
.features{
    padding: 180px 0px 0px 0px;
}
.feature1{
    padding-top: 50px !important;
    border-radius: 5px;
}
.feature1:hover{
    background: linear-gradient(to right, rgb(116,58,213), rgb(229,176,211));
    color: white;
}
.section5{
    padding-top: 400px;
    position: relative;
}
._0posi3x{
    position: absolute;
    /* height: 100px; */
    background-color: white;
    top: -60px;
    width: 90%;
    left: 5%;
}
._0testimg{
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
.about-section{
    padding-top: 150px;
    padding-bottom: 112px;
}
.about2{
    margin-top: 128px !important;
 }
 .lead{
    font-weight: 300;
    font-size: 18px;
 }
 .number{
    font-size:70px;
    font-weight: 700;
    color: #743ad5;
 }
 .caption{
    font-size: 12px;
 }
 i{
    padding: 10px 10px;
    border-radius: 100%;
    text-align: center;
    background-color:#efefef ;
    font-size: 16px ;
    color: black;
    align-items: centerg;
 }