body{
    font-family: "Jost", sans-serif;
    font-weight: 400;

}
.heroh1{
    font-size: 90px;
    font-weight: bolder;
}
.nav-link{
    color: white !important;
}
.menutwo li{
    list-style-type: none;
    text-align: left;
    font-size: 12px;
}
.hero{
    background-image: url('../images/bg_hero.webp');
    padding-bottom: 300px;
}
._0btn{
    border-style: solid;
    border-color: white;
    /* border-image: linear-gradient(to right, #ff9a9e, #fad0c4) !important; */
    border-width: 2px;
}
._0btn:hover{
    background-color: white;
    transition: .5s;
    color: black !important;
}
.section1{
    background-color: black;
    padding: 100px 0px 100px 0px;
}
.section1 h6{
    text-transform: uppercase;
    font-weight: 700;
}
.section1 h1{
    font-weight: 900;
    font-size: 70px;
}
.section2{
    padding: 100px 0px 100px 0px;
}
.subheading{
    font-size: 11px;
    letter-spacing: 2px;
    font-weight: 700;
}
.heading{
    font-size: 80px;
    line-height: 1;
    font-weight: 900;
}
.feature{
    padding: 30px;
    margin-bottom: 50px;
    position: relative;
    top: 10px;
    
}
.section2{
    background-color: #efefef;
    height: 1250px;
}
.section2 i{
    font-size: 40px;
    color: #743ad5;
    margin-bottom: 20px;
}
._0posi2{
    margin-top: -70px;
  }
.section2 h4{
    font-size: 18px;
    font-weight: 900;
}
.section2 p{
    font-size: 15px;
    line-height: 1.7;
}
.section2 ._0col:hover{
    background: linear-gradient(to right, rgb(116,58,213), rgb(229,176,211));
    border-radius: 15px;
    color: white;
}
.section3{
    background-color: #000;
    position: relative;
}
._0posi{
    position: absolute;
    z-index: 1000;
    left: 4%;
}
.pricex{
    font-weight: 900;
    font-size: 40px;
}
.pricing{
    padding: 40px;
    background-color: #743ad5;
    text-align: center;
    border-radius: 7px;
}.pricing h3{
    color: #fff;
    font-size: 30px;
}
.pricing p{
    color: rgba(255,255,255,0.5);
}
.line{
    margin-top: 40px 0px;
    height: 1px;
    width: 100%;
    height: 2px;
    background-color: rgba(255,255,255,0.2);
    
}
.section4{
    background-image: url("../images/bg_hero_2.jpg.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
}
._0cus{
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: azure;
}
._0cus:hover{
    background-color: white;
    color: blue !important;
    transition: .3s;
}
.features{
    padding: 180px 0px 0px 0px;
}
.feature1{
    padding-top: 50px !important;
    border-radius: 5px;
}
.feature1:hover{
    background: linear-gradient(to right, rgb(116,58,213), rgb(229,176,211));
    color: white;
}