body{
    font-family: "Jost", sans-serif;
    font-weight: 400;

}
.heroh1{
    font-size: 90px;
    font-weight: bolder;
}
.nav-link{
    color: white !important;
}
.hero{
    background-image: url('../images/bg_hero.webp');
}
._0btn{
    border-style: solid;
    border-color: white;
    border-width: 2px;
}
._0btn:hover{
    background-color: white;
    transition: .5s;
    color: black !important;
}